fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
pydantic==2.7.1
numpy
pandas
scikit-learn
httpx
requests
geopandas
python-dotenv
openai==1.51.0
jinja2
torch --index-url https://download.pytorch.org/whl/nightly/cu128